#wrapper {
    display: flex;
    flex-direction: row;
  }
  
  #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    flex: 1;
    padding: 20px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
  }
  